<h1>Acceso a la aplicaci&oacute;n</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
	<div class="field">
		<%= f.label :clave_acceso %><br/>
		<%= f.password_field :clave_acceso, :id => 'clave_acceso' %>
	</div>
	<div class="actions">
		<%= f.submit "Ingresar" %>
	</div>
<% end %>

<script>
	document.getElementById('clave_acceso').focus();
</script>