
	<table class="table table-bordered table-striped" id="areas_usuarios">
		<thead>
			<tr>
				<th>Apellido</th>
				<th>Nombre</th>
				<th>Login</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<%= render areas_usuarios %>
		</tbody>
	</table>
