
	<table class="table table-bordered table-striped">
		<thead>
	  		<tr>
			    <th>&Aacute;rea</th>
			    <th>Estimaci&oacute;n</th>
			    <th>&nbsp;</th>
			</tr>
		</thead>
		<tbody id="requerimientos_areas">
			<%= render requerimientos_areas %>
		</tbody>
	</table>
