<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tipo_requerimiento.nombre %>
</p>


<%= link_to 'Edit', edit_tipo_requerimiento_path(@tipo_requerimiento) %> |
<%= link_to 'Back', tipos_requerimientos_path %>
