
	<div class="row">
		<div class="span12">
			<p id="notice"><%= notice %></p>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<p>
			  <b>Nombre:</b>
			  <%= @tipo_requerimiento.nombre %>
			</p>
		</div>
	</div>

	<div class="form-actions">
		<%= link_to 'Editar', edit_tipo_requerimiento_path(@tipo_requerimiento), :class => 'btn' %>
		<%= link_to 'Volver', tipos_requerimientos_path, :class => 'btn' %>
	</div>
