<h1>Editing planificacion_requerimiento</h1>

<%= render 'form' %>

<%= link_to 'Show', @planificacion_requerimiento %> |
<%= link_to 'Back', planificacion_path(@planificacion_requerimiento.planificacion) %>
