
	<div class="row">
		<div class="span12">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th rowspan="2">Nro. RQ.</th>
						<th rowspan="2">Descripci&oacute;n</th>
						<th rowspan="2">Tipo</th>
						<th rowspan="2">Aplicaci&oacute;n</th>
						<th rowspan="2">&Aacute;rea resp.</th>
						<th rowspan="2">D&iacute;as estimados</th>
						<th colspan="3">Dedicaci&oacute;n</th>
						<th rowspan="2">Restantes luego de este mes</th>
						<th rowspan="2">Fin estimado</th>
						<th rowspan="2">&nbsp;</th>
					</tr>
					<tr>
						<th>Previa</th>
						<th>Restantes</th>
						<th>Este mes</th>
					</tr>
				</thead>
				<tbody>
					<%= render @planificacion.planificaciones_requerimientos %>
				</tbody>
			</table>
		</div>
	</div>
