
	<div class="row">
		<div class="span12">
			<p id="notice"><%= notice %></p>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<p>
			  <b>Nombre:</b>
			  <%= @estado.nombre %>
			</p>
		</div>
	</div>

	<div class="form-actions">
		<%= link_to 'Editar', edit_estado_path(@estado), :class => 'btn' %>
		<%= link_to 'Volver', estados_path, :class => 'btn' %>
	</div>
