
	<hr>

	<footer>
		<div class="pull-left">
			<p>&copy; Tribunal Superior de Justicia CABA - Direcci&oacute;n de Inform&aacute;tica y Tecnolog&iacute;a 2012</p>
		</div>
		<div class="pull-right">
			<p>Report&aacute; bugs y mejoras en <a target="_blank" href="https://github.com/lgallo/gestion_dit/issues">github</a></p>
		</div>
	</footer>
